.footer{
    height: 200px;
    width: 100%;
    text-align: center;
    align-items: center;
    /* margin-top: 22px; */
    background-color: black;
}
.cig2{
    height: 30px;
    width: 30px;
    margin: 11px;
    margin-left: 22px;
    border-radius: 12px;
}

.fp{
    color: aliceblue;
    font-size: 20px;
}
.fp1{
    color: aliceblue;
    font-size: 15px;
}